{
  "plugins": ["node", "import"],
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "plugin:node/recommended",
    "plugin:import/warnings"
  ],
  "globals": {
    "describe": false,
    "it": false,
    "should": true,
    "beforeEach": false,
    "afterEach": false,
    "COUNTER_HTTP_CLIENT_REQUEST": false,
    "COUNTER_HTTP_CLIENT_RESPONSE": false,
    "COUNTER_HTTP_SERVER_REQUEST": false,
    "COUNTER_HTTP_SERVER_RESPONSE": false,
    "COUNTER_NET_SERVER_CONNECTION": false,
    "COUNTER_NET_SERVER_CONNECTION_CLOSE": false,
    "DTRACE_HTTP_CLIENT_REQUEST": false,
    "DTRACE_HTTP_CLIENT_RESPONSE": false,
    "DTRACE_HTTP_SERVER_REQUEST": false,
    "DTRACE_HTTP_SERVER_RESPONSE": false,
    "DTRACE_NET_SERVER_CONNECTION": false,
    "DTRACE_NET_STREAM_END": false,
    "LTTNG_HTTP_CLIENT_REQUEST": false,
    "LTTNG_HTTP_CLIENT_RESPONSE": false,
    "LTTNG_HTTP_SERVER_REQUEST": false,
    "LTTNG_HTTP_SERVER_RESPONSE": false,
    "LTTNG_NET_SERVER_CONNECTION": false,
    "LTTNG_NET_STREAM_END": false
  },
  "rules": {
    "semi": ["error", "always"],
    "space-before-function-paren": 0,
    "comma-dangle": 0,
    "node/no-unsupported-features": 0,
    "camelcase": 0,
  }
}
